spring:
  application:
    name: splitmate

  datasource:
    url: jdbc:h2:file:./data/splitmate-db;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    enabled: true
    change-log: classpath:/liquibase/master.xml

logging:
  level:
    liquibase: DEBUG
