spring:
  application:
    name: splitmate

  datasource:
    url: jdbc:mysql://localhost:3306/splitmate_liquibase?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

logging:
  level:
    liquibase: DEBUG
